.logOut {
  /* outline: 1px solid yellow; */
  background-color: #ddd;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 95%;
  max-width: 25rem;
  min-height: 60%;
  margin: 3rem auto;
  padding: 2rem;
}

.logOut p {
  margin-bottom: 2rem;
  font-weight: 700;
}

.logOut button {
  max-width: 50%;
  margin: auto;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  background-color: #333;
  color: white;
}

.logOut button:hover{
  background-color: #444;

}
