.auth {
  background-color: #ddd;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 95%;
  max-width: 25rem;
  margin: 3rem auto;
}

.auth label {
  display: block;
  margin-bottom: 0.5rem;
}
.auth input {
  width: 80%;
  height: 1.2rem;
  border-radius: 4px;
}

.auth div {
  margin-bottom: 1rem;
}

.actions {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.actions button {
  display: block;
  max-width: 60%;
  margin-bottom: 1rem;
  cursor: pointer;
}

/* button[type='submit'] {
  padding: .5rem 1.5rem;
  border-radius: 8px;
  
} */
.submit {
  min-width: 7rem;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  color: white;
  font-weight: bolder;
  background-color: #333;
}

.actions button:last-child {
  background-color: #ddd;
  color: #222;
  border: none;
  font-style: italic;
  text-decoration: underline;
}

.actions button:disabled{
  background-color: #666;
  color: white;
  /* cursor: none; */
  cursor: auto;

}

.invalid{
  background-color: lightcoral;
  border: 1px solid red;
  color: red
}
